
.container5{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    
}

.incontainer5{
    width:100%;
    margin: auto;
    height: 10vh;
    background: transparent;
    margin-bottom: 25px;
}
.incontainer5 h1{
    text-align: center;
    color: #5EFF95;
    font-size: 50px;
    font-family: "DM Sans";
   
}
